---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Dibuat: {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ site.author.name }}</span></span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <p><strong>Soal.</strong></p>
    <p>{{ page.soal }}.</p><br>

    <p><strong>Solusi.</strong></p>
    {{ content }}

    <p><strong>Demo.</strong></p>
    {% if page.petunjuk %}
      <p>{{ page.petunjuk }}.</p>
      {% for input in page.input %}
        <label class="label-input">
          {{ input.label }}:
        </label>
        <input id="input{{ input.nomor }}" class="input-block" value="{{ input.nilai_awal }}"><br>
      {% endfor %}
      <button id="solve">Solve</button>
      <div id="hasil"></div>
    {% else %}
      <p>Tidak ada demo.</p>
    {% endif %}

    <a href="https://github.com/risoume/blog/blob/main/assets/js/{{ page.js }}.js"><span>&lt;code></span></a>

    <hr>

    <p><strong>Terkait.</strong></p>
    {% for sumber in page.terkait %}
        {{ sumber.contest }}:<br>
        {{ sumber.soal }}.
    {% endfor %}
  
  </div>

  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    Categories: 
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
